<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Ajoutez un participant</p>
	<form method="post" action="/add_participant">

        <label for="name">Nom :</label>
        <input type="text" id="nom" name="nom"/>

        <label for="prenom">Prenom :</label>
        <input type="text" id="prenom" name="prenom"/>

        <label for="mail">Email :</label>
        <input type="email" id="mail" name="email"/>
        
        <label for="even">Evenement : </label>
	    <select class="form-control" id="evenement" name="even_part">
		    <option value="0">select evenement</option>
		    <option th:each="evenement : ${evenements}"
		    	th:value="${evenement.num_even}"
		    	th:text="${evenement.intitule}"></option>
	    </select>
	    
        <input id="msg" type="submit" value="Ajouter"/>
        
	</form>
    <a href="/">Retour</a>
</body>
</html>