<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Liste des évenements</p>
    <table border="1">
		<thead>
		<tr>
		    <th>Numero</th>
		    <th>Intitule</th>
		    <th>Date de debut</th>
		    <th>Date de fin</th>
		    <th>Nombre de participants</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="evenement : ${evenements}">
	            <td th:text='${evenement.num_even}'></td>
	            <td th:text="${evenement.intitule}"></td>
	            <td th:text="${evenement.date_debut}"></td>
	            <td th:text="${evenement.date_fin}"></td>
            </tr>
		</tbody>
    </table>
    <a href="/">Retour</a>
</body>
</html>