<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Liste des participants</p>
    <table border="1">
		<thead>
		<tr>
		    <th>Numero</th>
		    <th>Prenom</th>
		    <th>Nom</th>
		    <th>Email</th>
		    <th>Evenement</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="participant : ${participants}">
	            <td th:text='${participant.num_pers}'></td>
	            <td th:text="${participant.prenom}"></td>
	            <td th:text="${participant.nom}"></td>
	            <td th:text="${participant.email}"></td>
	            <td th:text="${participant.evenement.intitule}"></td>
            </tr>
		</tbody>
    </table>
    <a href="/">Retour</a>
</body>
</html>