<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Sélectionnez un participant à retirer</p>
	<form method="post" action="/remove_participant">

        <select class="form-control" id="participant" name="participant">
		    <option value="0">Sélectionnez le participant a retirer de la liste</option>
		    <option th:each="participant : ${participants}"
		    	th:value="${participant.num_pers}"
		    	th:text="${participant.nom} + ' ' + ${participant.prenom} + ', ' + ${participant.email}"></option>
	    </select>

        <input id="msg" type="submit" value="Retirer"/>

	</form>
    <a href="/">Retour</a>
</body>
</html>