<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Sélectionnez un évenement à supprimer</p>
	<p>Attention! supprimer un évenement enlèvera également les participants à cet évenement</p>
	<form method="post" action="/remove_evenement">

        <select class="form-control" id="evenement" name="evenement">
		    <option value="0">Séletionnez l'évenement a retirer de la liste</option>
		    <option th:each="evenement : ${evenements}"
		    	th:value="${evenement.num_even}"
		    	th:text="${evenement.intitule}"></option>
	    </select>

        <input id="msg" type="submit" value="Supprimer"/>

	</form>
    <a href="/">Retour</a>
</body>
</html>